@using BlazorAppHospitaDBB.Shared
<EditForm Model="patient" OnValidSubmit="OnValidSubmit">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <InputText class="form-control" id="name" @bind-Value="@patient.Name" />
                </div>
                <div class="form-group">
                    <label for="AdmitDate">Admit Date</label>
                    <InputDate class="form-control" id="AdmitDate" @bind-Value="@patient.AdmitDate" />
                </div>
                <div class="form-check">
                    <InputCheckbox id="IsActive" @bind-Value="@patient.IsActive" />
                    <label for="isActive">Active?</label>
                </div>
                <div class="form-control-file my-2">
                    @if (string.IsNullOrEmpty(patient.ImageUrl))
                    {
                        <img src="/images/noimage.png" height="80" width="80" />
                    }
                    else
                    {
                        <img src="@patient.ImageUrl" height="80" width="80" />
                    }
                    <InputFile OnChange="OnFileChange" class="form-control" accept="image/*" />
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">
                        @if (patient.Id == 0)
                        {
                            <span>Create</span>
                        }
                        else
                        {
                            <span>Update</span>
                        }
                    </button>
                    <button type="button" class="btn btn-info" @onclick="Clear">Clear</button>
                </div>
                <div class="form-group">
                    <br />
                    <a class="btn btn-secondary" href="students">Back To Student List</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <button @onclick="@(()=>patient.Addresses.Add(new Address()))" type="button" class="btn btn-secondary">Add Address</button>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Sl.</th>
                            <th>Address Type</th>
                            <th>Street</th>
                            <th>City</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < patient.Addresses.Count; i++)
                        {
                            var index = i;
                            var add = patient.Addresses[i];
                            <tr>
                                <td>@(i + 1)</td>
                                <td><InputText class="form-control" id="name" @bind-Value="@add.Type" /></td>
                                <td><InputText class="form-control" id="name" @bind-Value="@add.Street" /></td>
                                <td>
                                    <InputText class="form-control" id="name" @bind-Value="@add.City" />
                                </td>
                                <td>
                                    <button @onclick="@(()=>patient.Addresses.RemoveAt(index))" type="button" class="btn btn-danger btn-sm">Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div>
            </div>

        </div>
    </div>
</EditForm>
@code {
    [Parameter]
    public Patient patient { get; set; }
    [Parameter]
    public EventCallback<EditContext> OnValidSubmit { get; set; }
    async Task OnFileChange(InputFileChangeEventArgs e)
    {
        var format = e.File.ContentType;
        var resizedImage = await e.File.RequestImageFileAsync(format, 1060, 1060);
        var buffer = new byte[resizedImage.Size];
        await resizedImage.OpenReadStream().ReadAsync(buffer);
        patient.ImageUrl = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
    }
    private void Clear()
    {
        patient = new Patient();
    }
}